#main {

    height: 100vh;
    /* border: 1px solid red; */
    margin: 0;
    padding: 0;
    overflow: hidden;


    >div {
        /* width: 100%; */
        height: 100%;
        margin: 0;
        padding: 0;

        >div:first-child {
            /* width: 100%; */
            height: 50px;
            /* border: 1px solid green; */
            display: flex;
            justify-content: end;
            align-items: center;

            >div {
                margin-right: 10px;
                width: 40px;
                transition: 0.5s;
                height: 40px;
                border-radius: 50%;
                /* border: 1px solid black; */
            }

            >div:hover {
                box-shadow: 0px 0px 15px 1px white;
            }


        }

        >div:last-child {
            /* border: 1px solid black; */
            height: 90%;
            margin: 0;
        }
    }

}

.second-part {
    margin: 0;
    padding: 0;


}

.second-part>div:nth-of-type(1) {
    height: 150px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;

    >p {
        height: 100%;
        /* border: 1px solid black; */
        margin: 0;
        padding: 0;
        font-size: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ffdfdb;

    }
}

.inp {
    height: 100px;

    /* border: 1px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative; */

    >div {
        /* border-radius: 10px; */
        /* background-color: #181a1a; */
        height: 38px;
        color: white;
        outline: none;
        position: relative;

        /* border: 1px solid black ; */
        /* width: 60%; */
        >input {
            width: 100%;
            height: 100%;
            /* background-color: #181a1a; */
            outline: none;
            color: white;
            border-radius: 20px;
            padding-left: 5px;

        }

        >button {
            /* width: 50px; */
            height: 105%;
            /* height: 150%; */
            position: absolute;
            top: -3%;
            right: -2%;
            transition: 1s;

            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
            border: 1px solid rgba(0, 0, 0, 0.212);

        }

        >button:hover {
            background-color: white;
            box-shadow: 0px 0px 10px 2px white;
        }
        >button:active {
            transform: scale(0.7);
        }


        >div {
            width: 100%;
            /* border: 1px solid black ; */
            display: flex;
            justify-content: center;
            align-items: center;
            height: 25px;
            margin-top: 20px;

            >div {
                /* width: 120px; */
                height: 100%;
                /* border: 1px solid red; */

            }

        }
    }


}

.time>div>span {
    /* color: #f8d8d6; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;

}


.inp>input:hover {
    background-color: #0c0e0e;
}

.box {
    height: 50%;
    /* border: 1px solid black ; */
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    >div {
        /* width: 40%; */
        height: 100%;
        /* border: 1px solid red; */
        overflow-y: scroll;
        scrollbar-width: none;
        /* display: flex; */
        /* justify-content: center;
        align-items: start;
        flex-wrap: wrap; */

    }

}

.main {
    /* border: 1px solid red; */
    min-height: 50px;
    min-width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: #181a1a; */
    border-radius: 30px;
    margin-top: 10px;
    transition: 1s;
    /* opacity: 0.5; */
}

.main>div:last-child {
    /* width: 130px; */
    height: 50px;
    /* border: 1px solid green; */
    display: flex;
    justify-content: space-around;
    align-items: center;

    >span {
        border-radius: 50%;
        width: 48px;
        height: 87%;
        /* border: 1px solid black; */
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f7e2df;
        color: rgb(0, 0, 0);
        font-size: 20px;
        margin-right: 6px;
    }
}

.main>div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 170px;
    height: 100%;
    /* border: 1px solid rgb(68, 0, 255); */
    margin: 0;
    padding: 0;

    >p {
        color: white;
        display: flex;
        align-items: center;
        justify-content: start;
        height: 100%;
        margin: 0;
        color: 'white';
        padding-left: 5px;
        /* border: 1px solid red; */
        overflow-x: hidden;
    }

}

#main>div>div:first-child>div:active {
    transform: scale(0.8);
}
.icon-ok:active , .icon-trash:active{
transform: scale(0.9);

}
.icon-ok , .icon-trash{
transition: 0.8s;
}
.txl{
    width: 0px;
    position: relative;
    margin: 0;
    padding: 0;
    /* border: 4px solid red !important; */
    animation: width 3s forwards  linear;
    overflow: hidden;
    white-space: none;
    text-wrap: nowrap;
}
@keyframes width {
    to{
        width: 400px;
    }
}
